<div class="container">
  <h2>User Login</h2>
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input  class="form-control" type="text" ng-model="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input class="form-control" type="password" ng-model="password" placeholder="Password" required>
    </div>
    <button ng-click="login()" class="btn btn-primary">Login</button>
  </form>
</div>
